<header class="sidebar-container" [class.collapsed]="isSidebarCollapsed">
  <nav class="sidebar">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i
        class="bi"
        [class.bi-chevron-right]="!isCollapsed"
        [class.bi-chevron-left]="isCollapsed"
      ></i>
    </button>

    <div class="logo-container my-4" [class.collapsed]="isCollapsed">
      <a class="navbar-brand">
        <!-- <img
          src="./assets/The Minaret Agency.png"
          class="mx-auto d-block"
          width="50%"
          alt=""
        /> -->
      </a>
    </div>

    <div class="sidebar-nav">
      <ul class="navbar-nav text-white">
        <li [ngClass]="{ 'nav-item': true, 'me-2': !isCollapsed }">
          <a routerLink="/attendance" class="nav-link">
            <i class="bi bi-house-door-fill ms-3"></i>
            <span class="nav-text" [class.hidden]="isCollapsed">الرئيسية</span>
          </a>
        </li>
        
        <li [ngClass]="{ 'nav-item': true, 'me-2': !isCollapsed }">
          <a routerLink="/categories/all" class="nav-link">
            <i class="bi bi-tags ms-3"></i>
            <span class="nav-text" [class.hidden]="isCollapsed">التصنيفات</span>
          </a>
        </li>

        <li [ngClass]="{ 'nav-item': true, 'me-2': !isCollapsed }">
          <a routerLink="/products/all" class="nav-link">
            <i class="bi bi-box ms-3"></i>
            <span class="nav-text" [class.hidden]="isCollapsed">المنتجات</span>
          </a>
        </li>
        
        <li [ngClass]="{ 'nav-item': true, 'me-2': !isCollapsed }">
          <a routerLink="/colors/all" class="nav-link">
            <i class="bi bi-tags ms-3"></i>
            <span class="nav-text" [class.hidden]="isCollapsed">الالوان</span>
          </a>
        </li>
        
        <li [ngClass]="{ 'nav-item': true, 'me-2': !isCollapsed }">
          <a routerLink="/sizes/all" class="nav-link">
            <i class="bi bi-tags ms-3"></i>
            <span class="nav-text" [class.hidden]="isCollapsed">المقاسات</span>
          </a>
        </li>
        
        <li [ngClass]="{ 'nav-item': true, 'me-2': !isCollapsed }">
          <a routerLink="/users/all" class="nav-link">
            <i class="bi bi-people-fill ms-3"></i>
            <span class="nav-text" [class.hidden]="isCollapsed">المستخدمون</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="sidebar-account text-white" [class.collapsed]="isCollapsed">
      <a class="nav-link" [routerLink]="['/my-profile', userId]">
        <i class="bi bi-person-circle ms-3"></i>
        <span class="nav-text" [class.hidden]="isCollapsed">حسابي</span>
      </a>
    </div>
  </nav>
</header>
