<section class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h1>جميع المنتجات</h1>
      <p>هنا يمكنك العثور على جميع المنتجات المتاحة في متجرنا.</p>
    </div>
    <div>
      <button class="btn btn-primary" (click)="openAddProductPopup()">
        إضافة منتج
      </button>
    </div>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>اسم المنتج</th>
          <th>السعر</th>
          <th>الفئة</th>
          <th>الإجراءات</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</section>
