<section>
  @if (currentSize.isDeleted) {
  <div class="alert alert-danger" role="alert">هذا المقاس مخفي من المتجر</div>
  }
  <form #UpdateSize="ngForm" (submit)="onSubmit(UpdateSize)">
    <label for="name" class="form-label">اسم المقاس</label>
    <input
      type="text"
      class="form-control"
      id="name"
      [(ngModel)]="currentSize.id"
    />

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault">اخفاء</label>
    </div>

    <button class="form-button">
      @if (isLoading) {
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      جاري التحديث... } @else { تحديث البيانات }
    </button>
  </form>
</section>
