<section class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h1>جميع الحسابات</h1>
            <p>هنا يمكنك العثور على جميع الحسابات المتاحة في متجرنا.</p>
        </div>
        <div>
            <button class="btn btn-primary" (click)="openAddUserPopup()">إضافة حساب</button>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>الاسم</th>
                    <th>رقم الهاتف</th>
                    <th>الدور</th>
                    <th>الإجراءات</th>
                </tr>
                </thead>
                <tbody>

        </table>
    </div>
</section>
